name: Benchmarks

on:
  pull_request:
    branches:
      - main

jobs:
  benchmarks:
    if: github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository
    name: Benchmarks
    runs-on: ubuntu-latest
    steps:
      - name: Install hyperfine
        run: cargo install --locked hyperfine

      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - uses: actions/setup-node@b39b52d1213e96004bfcb1c61a8a6fa8ab84f3e8 # v4
        with:
          node-version: lts/*
      - run: corepack enable
      - run: yarn install
      - run: yarn build

      - uses: bencherdev/bencher@main
      - run: yarn bench
      - run: |
          bencher run \
          --adapter 'shell_hyperfine' \
          --file 'examples.bench.json' \
          --github-actions "${{ secrets.GITHUB_TOKEN }}" \
          --project 'tstyche' \
          --token "${{ secrets.BENCHER_TOKEN }}" \
