name: Benchmarks

permissions:
  contents: read

on:
  push:
    branches: main

jobs:
  benchmarks:
    name: Benchmarks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: jdx/mise-action@9dc7d5dd454262207dea3ab5a06a3df6afc8ff26 # v3
      - run: yarn install
      - run: yarn build
      - run: mise run bench

      - uses: bencherdev/bencher@main
      - name: Run bencher
        run: |
          bencher run \
          --adapter 'shell_hyperfine' \
          --file 'tstyche.bench.json' \
          --project 'tstyche' \
          --token "${{ secrets.BENCHER_TOKEN }}"
