name: Benchmarks

permissions:
  contents: read

on:
  push:
    branches: main

jobs:
  benchmarks:
    name: Benchmarks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3
      - run: yarn install
      - run: yarn build
      - run: mise run bench

      - uses: bencherdev/bencher@main
      - name: Run bencher
        run: |
          bencher run \
          --adapter 'shell_hyperfine' \
          --file 'tstyche.bench.json' \
          --project 'tstyche' \
          --token "${{ secrets.BENCHER_TOKEN }}"
