name: Checks

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && !startsWith(github.head_ref, 'renovate/'))

    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        with:
          check-latest: true
          node-version: lts/*
      - run: yarn install
      - run: yarn build
      - uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # v4
        with:
          name: build-${{ github.sha }}
          path: build/

  check:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && !startsWith(github.head_ref, 'renovate/'))

    name: Check
    needs:
      - build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        with:
          check-latest: true
          node-version: lts/*
      - uses: actions/download-artifact@65a9edc5881444af0b9093a5e628f2fe47ea3b2e # v4
        with:
          name: build-${{ github.sha }}
          path: build/
      - run: yarn install
      - run: yarn check:spelling
      - run: yarn check:types

  quality:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && !startsWith(github.head_ref, 'renovate/'))

    name: Code Quality
    needs:
      - build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        with:
          check-latest: true
          node-version: lts/*
      - uses: actions/download-artifact@65a9edc5881444af0b9093a5e628f2fe47ea3b2e # v4
        with:
          name: build-${{ github.sha }}
          path: build/
      - run: yarn install
      - run: yarn biome ci --error-on-warnings

  test-types:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && !startsWith(github.head_ref, 'renovate/'))

    name: Test Types
    needs:
      - build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        with:
          check-latest: true
          node-version: lts/*
      - uses: actions/download-artifact@65a9edc5881444af0b9093a5e628f2fe47ea3b2e # v4
        with:
          name: build-${{ github.sha }}
          path: build/
      - run: yarn install
      - run: yarn test:types --target 4.7,5.0,current
      - run: yarn test:examples --target 4.7,5.0,current
      - run: yarn tstyche tests/*.js --target current

  test-node:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && !startsWith(github.head_ref, 'renovate/'))

    name: Test Build on Node.js v${{ matrix.node-version }}
    needs:
      - build
    strategy:
      fail-fast: false
      matrix:
        node-version: ['16.14', '16.x', '18.x', '20.x', '22.x']
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        with:
          check-latest: true
          node-version: ${{ matrix.node-version }}
      - uses: actions/download-artifact@65a9edc5881444af0b9093a5e628f2fe47ea3b2e # v4
        with:
          name: build-${{ github.sha }}
          path: build/
      - run: yarn install
      - run: yarn test
        env:
          FORCE_COLOR: true

  test-os:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && !startsWith(github.head_ref, 'renovate/'))

    name: Test Build on ${{ matrix.os }}
    needs:
      - build
    strategy:
      fail-fast: false
      matrix:
        os: [macOS-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        with:
          check-latest: true
          node-version: lts/*
      - uses: actions/download-artifact@65a9edc5881444af0b9093a5e628f2fe47ea3b2e # v4
        with:
          name: build-${{ github.sha }}
          path: build/
      - run: yarn install
      - run: yarn test
        env:
          FORCE_COLOR: true

  coverage-collect:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && !startsWith(github.head_ref, 'renovate/'))

    name: Collect Coverage on ${{ matrix.os }}
    needs:
      - build
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        with:
          check-latest: true
          node-version: lts/*
      - run: yarn install
      - run: yarn build --sourcemap
      - run: yarn test:run tests/config-storePath.test.js
        env:
          FORCE_COLOR: true
          NODE_V8_COVERAGE: coverage/${{ matrix.os }}-raw
      - uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # v4
        with:
          name: coverage-${{ matrix.os }}-${{ github.sha }}
          path: coverage

  coverage-upload:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && !startsWith(github.head_ref, 'renovate/'))

    name: Upload Coverage
    needs:
      - coverage-collect
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        with:
          check-latest: true
          node-version: lts/*
      - run: yarn install
      - run: yarn build --sourcemap
      - uses: actions/download-artifact@65a9edc5881444af0b9093a5e628f2fe47ea3b2e # v4
        with:
          merge-multiple: true
          path: coverage
          pattern: coverage-*

      - name: Display structure of downloaded files
        run: ls -R coverage

      - name: Generate
        run: node ./scripts/generate-coverage-report.js

      - name: Display structure of generated files
        run: ls -R coverage

      - name: Display coverage report
        run: cat coverage/lcov.info

      # - run: node ./scripts/generate-coverage-report.js
      - uses: codacy/codacy-coverage-reporter-action@89d6c85cfafaec52c72b6c5e8b2878d33104c699 # v1
        with:
          coverage-reports: coverage/lcov.info
        env:
          CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}

      - name: Display coverage reports
        run: cat /tmp/codacy-coverage-*
