name: Checks

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && !startsWith(github.head_ref, 'renovate/'))
    name: Check & Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - uses: actions/setup-node@b39b52d1213e96004bfcb1c61a8a6fa8ab84f3e8 # v4
        with:
          node-version: lts/*
      - run: corepack enable
      - run: yarn install
      - run: yarn build
      - run: yarn check:spelling
      - run: yarn check:formatting
      - run: yarn check:types
      - run: yarn lint

  test-types:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && !startsWith(github.head_ref, 'renovate/'))
    name: Test Types
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - uses: actions/setup-node@b39b52d1213e96004bfcb1c61a8a6fa8ab84f3e8 # v4
        with:
          node-version: lts/*
      - run: corepack enable
      - run: yarn install
      - run: yarn build
      - run: yarn test:types --target 4.7,5.0,current
      - run: yarn test:examples --target 4.7,5.0,current

  test-node:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && !startsWith(github.head_ref, 'renovate/'))
    name: Test Build on Node.js v${{ matrix.node-version }}
    needs:
      - check
    strategy:
      fail-fast: false
      matrix:
        node-version: ["16.14", "16.x", "18.x", "20.x", "21.x"]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@b39b52d1213e96004bfcb1c61a8a6fa8ab84f3e8 # v4
        with:
          node-version: ${{ matrix.node-version }}
      - run: corepack enable
      - run: yarn install
      - run: yarn build
      - run: yarn test
        env:
          FORCE_COLOR: true

  test-os:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && !startsWith(github.head_ref, 'renovate/'))
    name: Test Build on ${{ matrix.os }}
    needs:
      - check
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, macOS-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - uses: actions/setup-node@b39b52d1213e96004bfcb1c61a8a6fa8ab84f3e8 # v4
        with:
          node-version: lts/*
      - run: corepack enable
      - run: yarn install
      - run: yarn build
      - run: yarn test
        env:
          FORCE_COLOR: true

  test-coverage:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && !startsWith(github.head_ref, 'renovate/'))
    name: Collect Test Coverage
    needs:
      - check
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - uses: actions/setup-node@b39b52d1213e96004bfcb1c61a8a6fa8ab84f3e8 # v4
        with:
          node-version: latest
      - run: corepack enable
      - run: yarn install
      - run: yarn test:coverage
        env:
          FORCE_COLOR: true
      - uses: codecov/codecov-action@ab904c41d6ece82784817410c45d8b8c02684457 # v3
        with:
          directory: ./coverage
          files: report.json
        env:
          token: ${{ secrets.CODECOV_TOKEN }}
