name: Codacy Analysis

on:
  push:
    branches: main

jobs:
  codacy-analysis:
    name: Codacy Analysis
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - uses: codacy/codacy-analysis-cli-action@v4
