name: TypeScript's Nightly

permissions:
  contents: read

on:
  workflow_dispatch:
  schedule:
    - cron: "0 12 * * *"

jobs:
  check-types:
    name: Check Types
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3
      - run: yarn install
      - run: yarn build
      - run: yarn dlx --package typescript@next tsc --build --force --verbose

  test-types:
    name: Test Types
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3
      - run: yarn install
      - run: yarn build
      - run: yarn test:types --target next
      - run: yarn test:examples --target next
