name: TypeScript's Nightly

on:
  workflow_dispatch:
  schedule:
    - cron: "0 12 * * *"

jobs:
  test-types:
    name: Test Types
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4
      - uses: actions/setup-node@0a44ba7841725637a19e28fa30b79a866c81b0a6 # v4
        with:
          check-latest: true
          node-version: lts/*
      - run: corepack enable
      - run: yarn install
      - run: yarn build
      - run: yarn test:types --target next
      - run: yarn test:examples --target next
